.statCard {
  background-color: var(--white-color);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow-light);
  display: flex;
  align-items: center;
  gap: 1rem;
  max-height: 400px;
}
.iconWrapper {
  font-size: 2rem;
  color: var(--primary-color);
}
.textWrapper .value {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
}
.textWrapper .title {
  font-size: 0.9rem;
  color: var(--text-light-color);
}
.statIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem; /* Ícone um pouco menor e mais contido */
  color: #0a9396; /* Cor principal */
  background-color: rgba(
    10,
    147,
    150,
    0.1
  ); /* Fundo com cor de destaque transparente */
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Ícone circular */
}
